<nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
  <div class="relative bg-[#111]">
    <div className="absolute top-0 mx-auto font-bold z-10">FS</div>
    <svg
      width="511"
      height="511"
      viewBox="0 0 511 511"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="h-12 w-auto"
    >
      <circle cx="255.5" cy="255.5" r="255.5" fill="#D9D9D9" />
      <circle cx="255.5" cy="255.5" r="232.5" fill="black" />
      <circle cx="255.5" cy="255.5" r="181.5" fill="#F0BB00" />
    </svg>
  </div>
</nav>
<!-- Mobile menu, show/hide based on menu open state. -->
<div class="lg:hidden" role="dialog" aria-modal="true">
  <!-- Background backdrop, show/hide based on slide-over state. -->
  <div class="fixed inset-0 z-50"></div>
  <div
    class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-black px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
  >
    <div class="flex items-center justify-between">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Your Company</span>
        <img
          class="h-8 w-auto"
          src="https://tailwindui.com/img/logos/mark.svg?color=emerald&shade=600"
          alt=""
        />
      </a>
      <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Close menu</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
