<div class="relative isolate px-6 lg:px-8">
  <div
    class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
    aria-hidden="true"
  >
    <div
      class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
      style="
        clip-path: polygon(
          74.1% 44.1%,
          100% 61.6%,
          97.5% 26.9%,
          85.5% 0.1%,
          80.7% 2%,
          72.5% 32.5%,
          60.2% 62.4%,
          52.4% 68.1%,
          47.5% 58.3%,
          45.2% 34.5%,
          27.5% 76.7%,
          0.1% 64.9%,
          17.9% 100%,
          27.6% 76.8%,
          76.1% 97.7%,
          74.1% 44.1%
        );
      "
    ></div>
  </div>
  <div class="mx-auto max-w-2xl py-12">
    <div class="text-center">
      <h1
        id="ordfs-title"
        class="text-5xl font-bold tracking-tight sm:text-7xl transition"
      >
        <%= process.env.ORDFS_NAME == undefined ? 'ORD-FS.NETWORK' :
        process.env.ORDFS_NAME %>
      </h1>
      <h2 id="ordfs-subtitle" class="mt-6 text-2xl leading-8">
        Bitcoin > Internet 😎
      </h2>

      <p
        class="mt-6 text-left font-mono leading-8 text-gray-100 hidden p-4 bg-black rounded"
        id="latest-block"
      ></p>

      <div class="mt-10 flex items-center justify-center gap-x-6">
        <div
          href="#"
          onclick="tryItOut()"
          class="rounded-md bg-opacity-50 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-600 transition cursor-pointer"
          id="primary-button"
        >
          Try It Out
        </div>
        <a
          href="https://github.com/shruggr/ordfs-server"
          class="rounded-md bg-opacity-50 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-600 transition"
          target="_blank"
          rel="noopener noreferrer"
          id="secondary-button"
          >Read Documentation</a
        >
      </div>
    </div>
  </div>
  <div class="relative transform-gpu overflow-hidden blur-3xl">
    <div
      class="bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
      style="
        clip-path: polygon(
          74.1% 44.1%,
          100% 61.6%,
          97.5% 26.9%,
          85.5% 0.1%,
          80.7% 2%,
          72.5% 32.5%,
          60.2% 62.4%,
          52.4% 68.1%,
          47.5% 58.3%,
          45.2% 34.5%,
          27.5% 76.7%,
          0.1% 64.9%,
          17.9% 100%,
          27.6% 76.8%,
          76.1% 97.7%,
          74.1% 44.1%
        );
      "
    ></div>
  </div>
</div>
