<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Ord-FS Server</title>
<script src="https://cdn.tailwindcss.com"></script>
<link
  rel="icon"
  href="/eb6f151ee52b5d65cb89481e89e76655e6af83f697f0af88b7ccf46e3174baaa_0"
/>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,600&display=swap"
  rel="stylesheet"
/>

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@1satordinals" />
<meta name="twitter:title" content="ORD-FS" />
<meta name="twitter:description" content="Bitcoin > Internet" />
<meta
  name="twitter:image"
  content="/b061e7bfa1362478899c29858c3876c85f7c60c17cc4632cc33ed342ae145225_0"
/>

<style>
  body {
    padding-top: 50px;
  }
  h1,
  h2 {
    font-family: "Rubik", sans-serif;
  }
</style>
